#ajax-dashboard--ajax_dashboard_example_bottom .ajax-dashboard--container {
  width: 100%;
  padding: 1rem;
}

#ajax-dashboard--ajax_dashboard_example_bottom .ajax-dashboard-display {
  padding: 1rem;
  background-color: #f0f0f0;
}

#ajax-dashboard--ajax_dashboard_example_bottom .ajax-dashboard-controls {
  padding: 1rem;
  background-color: #d0e0f0;
  display: table;
  width: 100%;
}

#ajax-dashboard--ajax_dashboard_example_bottom .ajax-dashboard-control {
  text-align: center;
  display: table-cell;
}

#ajax-dashboard--ajax_dashboard_example_bottom .ajax-dashboard-controls button {
  color: #2c3e50;
  background-color: transparent;
  width: 100%;
  border: unset;
  border-radius: unset;
}
