#ajax-dashboard--ajax_dashboard_example_sidebar .ajax-dashboard--container {
  display: table;
  width: 100%;
  padding: 1rem;
}

#ajax-dashboard--ajax_dashboard_example_sidebar .ajax-dashboard-controls,
#ajax-dashboard--ajax_dashboard_example_sidebar .ajax-dashboard-display {
  display: table-cell;
}

#ajax-dashboard--ajax_dashboard_example_sidebar .ajax-dashboard-controls {
  width: 20%;
  min-width: 150px;
  max-width: 200px;
  padding: 1rem;
  background-color: #d0e0f0;
}

#ajax-dashboard--ajax_dashboard_example_sidebar .ajax-dashboard-display {
  width: auto;
  padding: 1rem;
  background-color: #f0f0f0;
}

#ajax-dashboard--ajax_dashboard_example_sidebar .ajax-dashboard-controls button {
  color: #2c3e50;
  text-align: left;
  background-color: transparent;
  width: 100%;
  border: unset;
  border-radius: unset;
}
