{#
 #
 # Variables:
 #   - attributes: Attributes to apply to the div wrapper.
 #     - attributes.class: div wrapper classes.
 #     - Note: 'id' is intentionally removed from attributes during preprocess.
 #     - TODO make the dashboard use the same logic as controls and buttons - populate ID in the module.
 #   - dashboard: The control section.
 #     - dashboard.label: A label to show for the dashboard.
 #     - dashboard.id: The Drupal machine name for the dashboard.
 #     - dashboard.display: The dashboard display area.
 #     - dashboard.controls: The dashboard controls.
 #       - Note: control theming can be found in ajax-dashboard-control.html.twig
 #
 #}
<div{{ attributes }}>
  <h2 class="ajax-dashboard--label">{{ dashboard.label }}</h2>
  <div class="ajax-dashboard--container">
    {{ dashboard.controls }}
    {{ dashboard.display }}
  </div>
</div>