{#
 #
 # Variables:
 #   - attributes: Attributes to apply to the button.
 #   - button: The button data used to build the button.
 #     - button.access: Does the user have access to the button?
 #     - button.label: Button text
 #     - button.status: The status of the button - either 'neutral' or plugin-defined.
 #     - button.status_text: The status text associated with the status - Blank or plugin-defined.
 #     - button.weight: Sorting weight - this is not used by default, but is available.
 #
 #}
{% if button.access %}
  <div class="ajax-dashboard-button--wrapper">
    <button{{ attributes }}>
      <span class="ajax-dashboard-button--status {{ button.status }}">{{ button.status_text }}</span>
      <span class="ajax-dashboard-button--label">{{ button.label }}</span>
    </button>
  </div>
{% endif %}