{#
 #
 # Variables:
 #   - attributes: Attributes to apply to the div wrapper.
 #   - control: The control section.
 #     - control.label: Label for the control section.
 #     - control.buttons: The control's buttons.
 #       - Note: button theming can be found in ajax-dashboard-button.html.twig
 #
 #}
<div{{ attributes }}>
  <h3 class="ajax-dashboard-control--label">{{ control.label }}</h3>
  {{ control.buttons }}
</div>
